$font-stack: Helvetica, sans-serif;
$primary-color: #333;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
}

#board {
    display: grid;
    grid-template-rows: repeat(8, 2fr);
    > div:nth-child(even) {
        > div:nth-child(even) {
            background-color: white;
        }
        > div:nth-child(odd) {
            background-color: lightgray;
        }
    }
    > div:nth-child(odd) {
        > div:nth-child(odd) {
            background-color: white;
        }
        > div:nth-child(even) {
            background-color: lightgray;
        }
    }
    > div {
        display: grid;
        grid-template-columns: repeat(8, 2fr);

        > div {
            height: 80px;
        }
    }
}
